.contents-top
  %span.class_username
    Sampleグループ
  %p Members: aaaaa bbbbb ccccc
  .edit-link
    edit
.contents-main
  %ul
    %li<>
      ABCD EFGH
    %li__time<>
      2018/12/12 22:22:22
  %p なるほど
.contents-bottom
  .message-form
    type a message
  .picture-button
    %i.fa.fa-image
  .send-button
    SEND
