.bar-top
  %span.class_username
    ABCD EFGH
  %i.far.fa-edit
  %i.fa.fa-cog
.bar-bottom
  .group1
    %p Group1
  .group1-message
    %p メッセージ
  .group2
    %p Group2
  .group2-message
    %p メッセージはまだありません
  .group3
    %p Group3
  .group3-message
    %p メッセージはまだありません
