.notification {
  .notice {
    background-color: $skyblue_back;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_ogrange;
    color: $white;
    text-align: center;
  }
}
