.left-bar {
  width: 300px;
  height: 100vh;
  float: left;
    .bar-top {
      height: 90px;
      background-color: #253141;
      padding-right: 20px;
      padding-left: 20px;
        h3 {
          color: $left-bar_text;
          font-size: 16px;
          font-weight: bold;
          line-height: 7em;
          display: inline-block;
        }
        ul {
          float: right;
          line-height: 7em;
        }
        li {
          list-style: none;
          font-size: 20px;
          padding-right: 5px;
          display: inline-block;
        }
        .icon {
          color: $white;
        }
    }
    .bar-bottom {
      background-color: #2f3e51;
      height: calc(100vh - 90px);
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 20px;
        .group1 {
          font-size: 15px;
          color: $left-bar_text;
          padding-bottom: 5px;
        }
        .group1-message {
          font-size: 11px;
          color: $left-bar_text;
          padding-bottom: 40px;
        }
          .group2 {
          font-size: 15px;
          color: $left-bar_text;
          padding-bottom: 5px;
        }
        .group2-message {
          font-size: 11px;
          color: $left-bar_text;
          padding-bottom: 40px;
        }
        .group3 {
          font-size: 15px;
          color: $left-bar_text;
          padding-bottom: 5px;
        }
        .group3-message {
          font-size: 11px;
          color: $left-bar_text;
          padding-bottom: 40px;
        }
    }
}
